#main-feedback {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-feedback .chat {
    width: 75%;
    height: 65%;

    border-radius: 10px;
    background-color: var(--font-color);

    display: flex;
    flex-direction: column;

    position: relative;
}

#main-feedback .chat header {
    width: 100%;
    height: 55px;

    position: absolute;
    top: 0;

    border-radius: 10px 10px 0 0;
    background-color: var(--menu-color);

    display: flex;
    align-items: center;
}

#main-feedback .chat header h2 {
    color: var(--font-color);
    font-weight: 200;
    margin-left: 2%;
}

#main-feedback .chat footer {
    width: 100%;
    height: 50px;

    position: absolute;
    bottom: 0;

    display: flex;

    border-radius: 0 0 10px 10px;
    background-color: var(--menu-color);
}

#main-feedback .chat footer input {
    width: 100%;

    font-size: 24px;
    padding-left: 10px;

    color: var(--font-color);
    border-radius: 0 0 0 10px;
    background-color: var(--menu-color);
}

#main-feedback .chat footer button {
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 10px 0;
    background-color: var(--button-color);

    cursor: pointer;
}
