.menu span {
    margin-right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu h2 {
    color: white;
    font-weight: 300;
}

.menu button {
    position: absolute;
    top: 80%;
    transform: translate(-50%);
}

.info {
    width: 80%;
    height: 85%;

    padding: 5% 10%;
    background-color: var(--font-color);
    border-radius: 5px;
}


.info h1 {
    font-size: 28px;

    display: flex;
}

.info h1 span {
    margin-right: 15px;
}

.info h1 span img {
    width: 33px;
    height: 33px;
}

.info p {
    margin-top: 15px;

    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}