:root {
    --background-color: #E5E5E5;
    --button-color: #FCA311;
    --button-hover: #f79800;
    --menu-color: #14213D;
    --font-color: #FFFFFF;
    --select-green: #40916C;
    --black-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button, input {
    border: none;
    outline: none;
}

body {
    background-color: var(--background-color);
}