
.main .seach {
    display: flex;
}

.main .seach input {
    width: 285px;
    font-size: 20px;
    padding-left: 5px;
}

.main .seach button {
    margin-left: 10px;
}

.main .result {
    display: flex;
    margin-top: 15px;
}

.main .result div {
    height: 60vh;
    width: 25vw;
    margin: 0 5px;

    border: solid 2px var(--menu-color);
}